
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<html>
    <link rel="stylesheet" href="scss/application.css">
    <!--Navigation bar-->
    <header>
      <div class="box">
        <div class="home">
          <a href="index.html.erb">Home</a>
        </div>
        <div class="navigator">
          <% if current_user %>
            <%= current_user.email %>
          <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
        <% else %>
          <%= link_to 'Login', user_session_path %>
        <% end %>
          <a href="contact.html">Contact</a>
          <a href="star.html">Star</a>
          <a href="papers.html">Papers</a>
        </div>
      </div>
    </header>
    <!--Navigation bar end-->
    <body>
      <div class="picbox imageresize">
        <p><a href="gallery.html" class="none">Picture<p></a>
          <img src="images/1.jpg">
      </div>

      <div class="post">
      <%= yield %>
      </div>

      <div class="picbox2 imageresize">
        <p>Picture<p>
        <img src="images/2.jpg">
      </div>

    </body>

</html>